<html>
    <head>
        <title>KSEF-Nairobi</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome to KSEF-Nairobi County</a></h1>
        </div>
           {{ presentations }}             
                {% for presentation in presentations %}
                    <div>
                    <p>published: {{ presentation.published_date }}</p>
                    <h1><a href="">{{ presentation.title }}</a></h1>
                    <p>{{ presentation.synopsis|linebreaksbr }}</p>
                    </div>
                {% endfor %}

    </body>
</html>